@{
  Layout = "_Layout";
}

<form action="/stylist/new" method="post">
  <label for="new-stylist">Enter Stylists Name</label>
  <input type="text" name="new-stylist" id="new=stylist">
  <button type="submit" name="button">Add</button>
</form>
