@{
  Layout = "_Layout";
}

<h1>Add Stylist</h1>
<form action="/stylist/new" method="post">
  <label for="new-stylist">Enter Stylists Name</label>
  <input type="text" name="new-stylist" id="new=stylist">
  <button class="waves-effect waves-light btn" type="submit" name="button">Add</button>
</form>
